.header-intro_bg {
	background: url(../img/intro/intro__bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.header {
	margin-bottom: 4em;
	&__menu {
		&_mobile {
			&_full {
				transition: all 0.5s;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: white;
				z-index: 10;
				transform: translateX(-100%);

				ul {
					width: 80%;
					margin: 2rem auto auto;

					._icon {
						display: flex;
						justify-content: space-around;
						a {
							font-size: 20px;
						}
					}
				}

				li {
					list-style: none;
					text-align: center;
					margin: 10px;
					a {
						font-family: $font-medium;
						font-size: 20px;
						color: black;
						transition: all 0.5s;
						text-decoration: none;
						&:hover {
							color: red;
						}
						i {
							color: red;
						}
					}
				}
			}
			&_full._active {
				transform: translateX(0);
			}
		}
	}
	.header__container {
	}
	& .header_top {
		border-bottom: 1px solid #cfcfcf;
	}
	& .header__items_top {
		font-weight: 700;
		display: flex;
		padding: 20px 0;
		justify-content: space-between;
		align-items: center;
		& a {
			color: black;
			text-decoration: none;
		}
		& .header__item {
		}
		& .header__text-medium {
			white-space: nowrap;
			font-family: $font-medium;
			color: $black;
			font-size: 12px;
		}
		& .header__text-bold {
			text-transform: uppercase;
			white-space: nowrap;
			font-family: $font-bold;
			color: $black;
			font-size: 15px;
		}
		& .header__phone-text {
			text-transform: uppercase;
			font-family: $font-medium;
			color: $black;
			font-size: 10px;
			& a {
				color: black;
			}
		}
		& .header__phone-number {
			color: #fe0000;
			text-transform: uppercase;
			font-family: $font-bold;
			font-size: 15px;
			font-weight: 700;
			& a {
				color: #fe0000;
			}
		}
	}

	& .header_bottom {
		box-shadow: 0 35px 51px rgba(0, 0, 0, 0.1);
	}

	& .header__items_bottom {
		display: flex;
		padding: 25px 0;
		justify-content: center;
		align-items: center;

		& .header__item {
			cursor: pointer;
			position: relative;
			padding: 0 10px;
			font-family: $font-medium;
			font-size: 10px;
			font-weight: 500;
			font-style: normal;
			letter-spacing: normal;
			line-height: 12.16px;
			text-align: left;
			text-transform: uppercase;

			&_menu {
				display: flex;
				align-items: center;
				&_mobile {
					display: none;
				}
				.dropdown-menu {
					padding-bottom: 0;
					i {
						color: blue;
						font-size: 15px;
						margin-left: 10px;
					}
				}
				&-btn {
					// pointer-events: none;
					transition: all 0.7s;
					font-size: 20px;
					text-transform: uppercase;
					padding: 0;

					&:hover {
						// color: red;
					}
					&:focus {
						outline: none;
						box-shadow: none;
					}
					&:active {
						outline: none;
					}
				}
				&-text {
					border: none;
					background: transparent;
					// pointer-events: none;
				}

				&-btn._active {
					color: red;
					transform: rotate(360deg);
					// box-shadow: rgba(255, 0, 0, 0.4) 0px 54px 55px;
				}

				.dropdown-header {
					color: red;
					border-bottom: 1px solid black;
				}
				a {
					transition: all 0.5s;
					font-size: 10px;
					padding: 0;
					margin: 0.5rem 1.5rem;
					background: transparent;

					&:hover {
						//transform: scaleX(1.1);
						color: red;
					}
				}
			}
			& a {
				color: black;
				text-decoration: none;
			}
		}
		.header__item:after {
			content: '';
			position: absolute;
			bottom: -7px;
			left: 0;
			height: 2px;
			background: red;
			opacity: 0;
			width: 0;
			transition: all 0.5s;
		}

		.header__item:hover:after {
			opacity: 1;
			width: 100%;
		}

		.header__item_menu {
			&::after {
				display: none;
			}
			&_mobile {
				&::after {
					display: none;
				}
			}
		}

		& .header__text-medium {
			white-space: nowrap;
			font-family: $font-medium;
			color: $black;
			font-size: 12px;
		}
		& .header__text-bold {
			text-transform: uppercase;
			white-space: nowrap;
			font-family: $font-bold;
			color: $black;
			font-size: 15px;
		}
		& .header__phone-text {
			text-transform: uppercase;
			font-family: $font-medium;
			color: $black;
			font-size: 10px;
			& a {
				color: $black;
			}
		}
		& .header__phone-number a {
			color: #fe0000;
			text-transform: uppercase;
			font-family: $font-bold;
			font-size: 15px;
		}
	}
}

.header__item_menu-text {
	font-family: $font-medium;
	font-size: 10px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: 12.16px;
	text-align: left;
	text-transform: uppercase;
	margin-left: 5px;
}

.repair-header {
	.header__item_pdf {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -8%;
			width: 17px;
			height: 17px;
			transform: translateY(-50%);
			background: url(../img/header/header__whatsapp.png);
		}
	}

	.header__item_pdf span {
		font-size: 10px;
		color: #959595;
		display: block;
		line-height: 1rem;
	}

	.header__item_address {
		line-height: 1rem;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -12%;
			width: 13px;
			height: 17px;
			transform: translateY(-50%);
			background: url(../img/header/header__gpsmark.png);
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
		.header_bottom {
			position: relative;
		}
		.header__items_bottom {
			.header__item_menu {
				display: none;
				&_mobile {
					transition: all 0.5s;
					display: block;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					z-index: 11;
					overflow: hidden;
				}
			}
			&_mobile._active {
			}
		}
	}
}

@media screen and (max-width: 340px) {
	.header__items_bottom .header__item {
		font-size: 8px !important;
	}
}
