.header {
  margin-bottom: 4em;
  .header__container {

  }
  & .header_top {
    border-bottom: 1px solid #cfcfcf;
  }
  & .header__items_top {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    & .header__item {

    }
    & .header__text-medium {
      white-space: nowrap;
      font-family: $font-medium;
      color: $black;
      font-size: 12px;
    }
    & .header__text-bold {
      text-transform: uppercase;
      white-space: nowrap;
      font-family: $font-bold;
      color: $black;
      font-size: 15px;
    }
    & .header__phone-text {
      text-transform: uppercase;
      font-family: $font-medium;
      color: $black;
      font-size: 10px;
      & a {
        color: $black;
      }
    }
    & .header__phone-number a {
      color: #fe0000;
      text-transform: uppercase;
      font-family: $font-bold;
      font-size: 15px;
    }
  }

  & .header_bottom {
    box-shadow: 0 35px 51px rgba(0, 0, 0, 0.1);
  }

  & .header__items_bottom {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    & .header__item {
      padding: 0 10px;

      color: var(--black);
      font-family: $font-medium;
      font-size: 10px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 12.16px;
      text-align: left;
      text-transform: uppercase;
    }
  }
}