.intro {
	//height: 90vh;
	// background: url(../img//intro/intro__bg.png);
	margin-bottom: 3rem;

	& .intro__title {
		margin-top: 60px;
		margin-bottom: 0.5rem;
		font-style: italic;
		text-transform: uppercase;
		white-space: nowrap;
		color: $black;
		font-family: $font-ExtraBold;
		font-size: 45px;
		line-height: normal;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: -131%;
			right: 0%;
			background: url('../img/intro/intro__goto.png') center no-repeat;
			height: 170px;
			width: 170px;
		}

		& .intro__title_red {
			color: #f00303;
		}
	}

	& .intro__subtitle {
		letter-spacing: 1px;
		font-weight: 700;
		display: inline-block;
		position: relative;
		margin-bottom: 2rem;
		color: $black;
		font-family: $font-bold;
		font-size: 20px;
		line-height: 23.01px;
		text-transform: uppercase;

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			width: 100%;
			left: 0;
			height: 3px;
			border-radius: 2px;
			background: linear-gradient(130deg, $red-1 31%, rgba(0, 0, 0, 0) 80%);
		}
	}

	& .intro__btn {
		&::after {
			content: '';
			position: absolute;
			top: 9%;
			left: -77%;
			background: url(../img/intro/intro__button-cloud.png);
			width: 586px;
			height: 488px;
		}
		margin-top: 3rem;
		& .btn-default_prgm {
			position: relative;
		}
		& .btn-default__call {
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			border-radius: 50%;
			padding: 20px;
			margin-left: -25px;
			backdrop-filter: blur(5px);
			background: rgba(255, 255, 255, 0.1);
			margin-bottom: 2%;
		}
	}

	& .intro__items {
		margin-top: 4rem;
		display: flex;
		justify-content: space-between;

		& .intro__item {
			width: 132px;

			// TODO: Создать контейнер, т.к. на мобилках ширина 100% у 3-го блока
			background: #eee;
			border-radius: 20px 20px 95px 49px;
			height: 120px;
			padding: 1rem;
			box-sizing: content-box;

			&:first-child {
				// padding-left: 0;
			}

			&:last-child {
				//padding-right: 0;
			}
		}

		& .item__img {
			margin-bottom: 0.5rem;
		}

		& .item__text {
			font-family: $font-medium;
			font-weight: 700;
			font-size: 15px;
			white-space: nowrap;

			& .item__text_green {
				font-weight: 700;
				color: #2ac411;
				font-family: $font-bold;
				text-transform: uppercase;
			}
		}
	}
	& .intro__phone {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: -43%;
			left: -49%;
			background: url(../img/intro/intro__phone-cloud.png);
			width: 1000px;
			height: 500px;
		}
		img.img-fluid {
			position: relative;
			z-index: 1;
			height: 590px;
			width: 330px;
		}
	}

	& .intro__inst-1 {
		animation: inst-1 12s infinite ease-in-out;
		position: absolute;
		z-index: 1;
		bottom: 29%;
		right: -3%;
		width: 104px;
		height: 104px;
		transition: all 0.3s;
	}

	& .intro__inst-2 {
		animation: inst-2 12s infinite ease-in-out;
		position: absolute;
		top: 18%;
		left: -11%;
		width: 90px;
		height: 90px;
		transition: all 0.3s;
	}
}

@keyframes inst-1 {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes inst-2 {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(0);
	}
}

@media screen and (max-width: 1199px) {
	.intro {
		& .intro__title {
			font-size: 34px;
			white-space: normal;
			text-align: center;
			&::after {
				display: none;
			}
		}

		& .intro__subtitle {
			display: block;
			text-align: center;
			white-space: normal;
			&:after {
				display: none;
				content: '';
			}
		}

		& .intro__btn {
			position: relative;
			text-align: center;
			&::after {
				display: none;
			}
		}

		& .intro__items {
			flex-wrap: wrap;
			text-align: center;
			justify-content: space-around;

			& .intro__item {
				margin-left: 1rem;
				margin-right: 1rem;

				border-radius: 30% 20% 42% 8%;
				margin-bottom: 1rem;
				position: relative;
				width: 100px;
				height: 100px;
				&:last-child {
					//width: 100%;
				}
			}

			& .item__text {
				font-size: 12px;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-top: 20px;
			}
		}
	}
}

@media screen and(max-width:767px) {
	.intro__items > .container > .row {
		justify-content: center;
	}
	.intro__text {
		font-size: 13px;
		width: 90px;
	}
}

@media screen and(max-width:400px) {
	.intro {
		.intro__btn::after {
			top: -637%;
			left: -113%;
		}
	}
}
