.support {
	margin-bottom: 15rem;
}

.support__img-left {
	text-align: center;
}

.support__title {
	margin-bottom: 1rem;

	white-space: nowrap;
	font-family: $font-medium;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;

	& .color-green {
		color: #42da18;
	}
}

.support__subtitle {
	white-space: nowrap;
	text-align: center;
	font-family: $font-medium;
	font-size: 19px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.support-form {
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow: 0 21px 46px rgba(0, 0, 0, 0.1);
	border-radius: 9px 9px 9px 9px;
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
}

.support-form__title {
	margin-bottom: 3rem;

	white-space: nowrap;
	text-align: center;
	font-family: $font-medium;
	font-size: 19px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;

	color: $red-1;
}

.form-support__control {
	padding: 13px 26px;

	border-radius: 0 4px 4px;
	border: 1px solid #dfdfdf;
	background-color: #ececec;

	//color: #c7c7c7;
	font-family: $font-medium;
	font-size: 19px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;

	outline: none !important;

	&:active {
		outline: none !important;
	}
}

.support-form__btn {
	text-align: center;
	.btn-default__call {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 50%;
		padding: 12px;
		margin-left: -25px;
		background: #000;
		margin-bottom: 2%;
		z-index: 1;
		position: relative;
		transform: translate(-2%, 8%);
	}
}

.support-form__agree {
	display: flex;
	justify-content: center;

	color: #bebebe;
	font-family: $font-medium;
	font-size: 12px;
	font-weight: 500;
	text-align: justify;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.support__img-right {
	pointer-events: none;
	position: absolute;
	z-index: 1;
	right: -329px;
	top: 120px;
}

.support-form {
	position: relative;
}

.support-form_after {
	pointer-events: none;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $font-medium;
	font-size: 16px;
	color: #bebebe;
	text-align: center;
}

@media screen and (max-width: 1199px) {
	.support-form {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	.support__title {
		font-size: 16px;
	}

	.support__subtitle {
		margin-bottom: 3rem;
		font-size: 16px;
	}

	.support-form__agree {
		font-size: 8px;
	}

	.form-support__control {
		width: 100%;
	}

	.support-form_after {
		font-size: 14px;
	}
}

@media screen and (max-width: 455px) {
	.btn-default__call {
		margin-left: -18px !important;
	}
}

@media screen and (max-width: 350px) {
	.form-support__control {
		width: 100%;
	}
}
