<section class="contacts text-center text-xl-left" id="contacts">
	<div class="contacts__container">
		<div class="container">
			<div class="row contacts__top">
				<div class="col-xl-6 pr-xl-0 pl-xl-0">
					<div class="contacts__title">Наши контакты:</div>
					<div class="row mb-4">
						<div class="col-xl-6">
							<div class="contacts__phone-title">Звоните:</div>
							<div class="contacts__phone-number"><a href="tel:+73472281710">+7 (347) 228-17-10</a></div>
							<div class="contacts__phone-number"><a href="tel:+73472286710">+7 (347) 228-67-10</a></div>
						</div>
						<div class="col-xl-6 d-flex align-items-end">
							<div class="contacts__btn">
								<button class="btn-default_prgm" data-toggle="modal" data-target="#modal">
									<span class="btn-default__text">Вызвать мастера</span>
								</button>
								<img class="btn-default__call" src="img/intro/intro__call.png" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6 d-none d-xl-block">
							<div class="contacts__map-text">СХЕМА ПРОЕЗДА</div>
						</div>
						<div class="col-xl-6 d-none d-xl-flex align-items-center">
							<div class="contacts__map-line"></div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 pr-xl-0">
					<div class="row">
						<div class="d-none d-xl-flex col-xl-6 align-items-end">
							<div class="contacts__map-inner">
								<!--                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2304.025499174479!2d55.989891699999994!3d54.726766299999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d93a33c548002b%3A0x1f04c12c7a0c9755!2z0J7QntCeICLQn9Cg0J7RgNC10LzQvtC90YIg0KPRhNCwIg!5e0!3m2!1sru!2sru!4v1614506797390!5m2!1sru!2sru" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
								<a style="display: block" href="https://yandex.ru/maps/-/CCUQF4CQhD" target="_blank">
									<img style="height: 100%; width: fit-content" src="img/map.webp" alt="" />
								</a>
							</div>
						</div>
						<div class="col-xl-6 pl-xl-0">
							<div class="contacts__menu">
								<ul>
									<li><a target="_blank" href="http://remont-tv-ufa.ru/zakaz">Проверка заказа</a></li>
									<li><a target="_blank" href="http://remont-tv-ufa.ru/about">О компании</a></li>
									<li><a target="_blank" href="http://remont-tv-ufa.ru/services">Услуги и цены</a></li>
									<li><a target="_blank" href="http://remont-tv-ufa.ru/garantiya">Гарантия</a></li>
									<li><a target="_blank" href="http://remont-tv-ufa.ru/vakansii">Вакансии</a></li>
									<li><a target="_blank" href="http://remont-tv-ufa.ru/content/sertifikaty">Сертификаты</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row contacts__bottom">
				<div class="col-xl-9 pl-xl-0">
					<div class="contacts__copyright">© Все права защищены. Сервисный центр по ремонту ПроРемонт УФА” 2020 Информация размещенная на сайте не является публичной офертой</div>
				</div>
				<div class="col-xl-3 pr-xl-0 contacts__policy">
					<a target="_blank" href="http://remont-tv-ufa.ru/download/politika.pdf">
						<b
							>Политика <br />
							конфиденциальности
						</b>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
