<section class="feedback">
	<div class="feedback__container container">
		<div class="row">
			<div class="col-xl-5 offset-xl-1">
				<h2 class="feedback__title">Расчет будет готов через <span>5 минут</span></h2>
				<p class="feedback__subtitle">Оставьте свои данные для связи, либо позвоните мастеру и более подробно опишите проблему</p>
			</div>
			<div class="col-xl-5 offset-xl-1">
				<form class="feedback__form">
					<div class="feedback__form-title">Мы свяжемся с вами :)</div>
					<input class="feedback__form-input" name="formName" placeholder="Ваше имя" />
					<input class="feedback__form-input" name="formPhone" placeholder="Номер телефона" />
					<div class="button__container">
						<button class="feedback__form-call btn-default_prgm">Перезвоните мне</button>
						<img src="../img/feedback/feedback__call.png" alt="" class="feedback__form-call-icon" />
					</div>

					<p class="feedback__form-outro">Заполняя данную форму, вы подтверждаете согласие с нашей политикой обработки персональных данных</p>
				</form>
			</div>
		</div>
	</div>
</section>
