<section class="intro">
    <div class="intro__container container">
        <div class="row">
            <div class="col-xl-6 offset-xl-1">
                <div class="intro__title">
                    Выполним <span class="intro__title_red">срочный</span><br>
                    <span class="intro__title_red">ремонт</span> техники
                </div>
                <div class="intro__subtitle">По международным стандартам ISO</div>
                <div class="intro__btn">
                    <button class="btn-default">
                        <span class="btn-default__text">Вызвать мастера</span>
                    </button>
                </div>
                <div class="intro__items">
                    <div class="intro__item">
                        <div class="item__img">
                            <img src="img/intro__star.png" alt="">
                        </div>
                        <div class="item__text">
                            Рейтинг на основе <br>
                            сервисных центров <br>
                            <span class="item__text_green">в Уфе</span>
                        </div>
                    </div>
                    <div class="intro__item">
                        <div class="item__img">
                            <img src="img/intro__verified.png" alt="">
                        </div>
                        <div class="item__text">
                            Гарантийный <br>
                            период от <span class="item__text_green">60 дней</span> <br>
                            на ремонт
                        </div>
                    </div>
                    <div class="intro__item">
                        <div class="item__img">
                            <img src="img/intro__check-mark.png" alt="">
                        </div>
                        <div class="item__text">
                            Авторизированный <br>
                            центр более
                            <span class="item__text_green">115 <br>
                            международных марок</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 offset-xl-1 d-none d-xl-block">
                <div class="intro__phone">
                    <img class="img-fluid" src="img/intro__img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>