<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="border-radius: 9px 9px 9px 9px; border: 1px solid #d3d3d3">
			<div style="border: 0; background: none" class="support-form">
				<button type="button" class="close position-absolute" style="right: 2rem; top: 1rem; font-size: 28px" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="support-form_before" style="opacity: 1">
					<div class="support-form__title">Мы свяжемся с вами :)</div>
					<form action="" class="text-center needs-validation" novalidate>
						<div class="form-group">
							<input name="name" class="form-support__control name" type="text" placeholder="Ваше имя" required />
							<div class="invalid-feedback name-error">Пожалуйста, введите имя</div>
						</div>
						<div class="form-group mb-5">
							<input name="phone" class="form-support__control phone" type="tel" placeholder="Номер телефона" required />
							<div class="invalid-feedback phone-error">Пожалуйста, введите номер телефона</div>
						</div>
						<div class="form-group mb-3 support-form__btn">
							<button class="btn-default_prgm" type="button" onclick="send(event)">
								<span class="btn-default__text" style="font-style: normal">Перезвоните мне</span>
							</button>
							<img src="img/modal/modal__call.png" alt="" class="btn-default__call" />
						</div>
						<div class="form-group">
							<div class="support-form__agree">
								Заполняя данную форму вы подтверждаете согласие <br />
								с нашей политикой обработки персональных данных
							</div>
						</div>
					</form>
				</div>
				<div class="support-form_after" style="opacity: 0">
					<div class="support-form__success-text mb-4">Спасибо, расчет в обработке!</div>
					<div class="support-form__success-img mb-4">
						<img class="img-fluid" src="img/modal/modal__form-success.png" alt="" />
					</div>
					<div class="support-form__success-text">
						Вы сможете повторить запрос через: <br />
						<span class="support-form__success-count">10</span> <span class="support-form__success-word">секунд</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
