<section class="problems">
	<div class="problems__container">
		<div class="problems__title">
			Будьте <span class="color-red">бдительны</span>, когда отдаёте свою технику <br class="d-xl-block d-none" />
			в ремонт <span class="color-green">не</span> профессионалам
		</div>
		<div class="container">
			<div class="problems__subtitle">Вы можете получить ещё больше проблем:</div>
			<div class="row">
				<div class="problems__left-error">
					<img src="img/problems/problems__left-error.png" alt="" />
				</div>
				<div class="problems__right-error">
					<img src="img/problems/problems__right-error.png" alt="" />
				</div>

				<div class="col-xl-3 d-flex justify-content-center problems-item__container">
					<div class="problems-item">
						<div class="problems-item__img">
							<img src="img/problems-item-1_new.png" alt="" />
						</div>
						<div class="problems-item__text">
							относить технику <br />
							снова и снова
						</div>
					</div>
				</div>
				<div class="col-xl-3 d-flex justify-content-center problems-item__container">
					<div class="problems-item">
						<div class="problems-item__img">
							<img src="img/problems-item-2_new.png" alt="" />
						</div>
						<div class="problems-item__text">
							Длительные <br />
							сроки
						</div>
					</div>
				</div>
				<div class="col-xl-3 d-flex justify-content-center problems-item__container">
					<div class="problems-item">
						<div class="problems-item__img">
							<img src="img/problems-item-3_new.png" alt="" />
						</div>
						<div class="problems-item__text">
							Потраченное <br />
							время и деньги
						</div>
					</div>
				</div>
				<div class="col-xl-3 d-flex justify-content-center problems-item__container">
					<div class="problems-item">
						<div class="problems-item__img">
							<img src="img/problems-item-4_new.png" alt="" />
						</div>
						<div class="problems-item__text">
							Никакой <br />
							гарантии
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
