<section class="quiz">
    <div class="quiz__container">
            <div class="quiz__title">Заставим <span class="color-red">сломанное</span> работать как <span class="color-green">новое</span></div>
            <div class="quiz__subtitle">Рассчитайте стоимость за 25 секунд</div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="quiz-main__container">
                            <div class="quiz-main">
                                <div class="quiz-main__questions">
                                    <div class="quiz-main__question quiz-question active">1 вопрос</div>
                                    <div class="quiz-main__question quiz-question">2 вопрос</div>
                                    <div class="quiz-main__question quiz-question">3 вопрос</div>
                                    <div class="quiz-main__question quiz-question">чек</div>
                                </div>
                                <div class="quiz-main__title">Что нужно починить?</div>
                                <div class="quiz-main__answers">
                                    <div class="row">
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-1.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text">
                                                    Ремонт <br>
                                                    <b>телевизоров</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-2.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-3.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-4.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-5.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-6.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-7.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-8.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 quiz-answer__container">
                                            <div class="quiz-answer quiz-main__answer">
                                                <div class="quiz-answer__img">
                                                    <img class="" src="img/quiz-item-9.png" alt="">
                                                </div>
                                                <div class="quiz-answer__text"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>