<section class="quiz">
    <div class="quiz__container">
            <div class="quiz__title">Заставим <span class="color-red">сломанное</span> работать как <span class="color-green">новое</span></div>
            <div class="quiz__subtitle">Рассчитайте стоимость за <span class="quiz__timer-value">25</span> секунд</div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="quiz-main__container">
                            <div class="quiz-main">
                                <div class="quiz-main__questions">
                                    <div role="presentation" class="quiz-main__question quiz-question active">
                                        <a data-target="#tab-1" data-toggle="tab">1 <span class="d-none d-xl-inline">вопрос</span></a>
                                    </div>
                                    <div role="presentation" class="quiz-main__question quiz-question">
                                        <a data-target="#tab-2" data-toggle="tab">2 <span class="d-none d-xl-inline">вопрос</span></a>
                                    </div>
                                    <div role="presentation" class="quiz-main__question quiz-question">
                                        <a data-target="#tab-3" data-toggle="tab">3 <span class="d-none d-xl-inline">вопрос</span></a>
                                    </div>
                                    <div role="presentation" class="quiz-main__question quiz-question">
                                        <a data-target="#tab-4" data-toggle="tab">ЧЕК</a>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-1">
                                        <div class="quiz-main__title">Что нужно <span>починить?</span></div>
                                        <div class="quiz-main__answers">
                                            <div class="row">
                                                <div class="col-xl-8 offset-xl-2">
                                                    <div class="row">
                                                        <div class="col-sm-4 col-6 quiz-answer__container">
                                                            <div data-answer-1='1' class="quiz-answer active quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-1.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>телевизоров</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-6 quiz-answer__container">
                                                            <div data-answer-1='2' class="quiz-answer quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-2.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>стиральной машины</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-6 quiz-answer__container">
                                                            <div data-answer-1='3' class="quiz-answer quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-3.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>аудиотехники</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-6 quiz-answer__container">
                                                            <div data-answer-1='4' class="quiz-answer quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-4.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>ноутбуков</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-6 quiz-answer__container">
                                                            <div data-answer-1='5' class="quiz-answer quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-5.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>автоэлектроника</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-6 quiz-answer__container">
                                                            <div data-answer-1='6' class="quiz-answer quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-6.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>фотоаппаратов</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-6 quiz-answer__container">
                                                            <div data-answer-1='7' class="quiz-answer quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-7.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>мультиварок</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-6 quiz-answer__container">
                                                            <div data-answer-1='8' class="quiz-answer quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-8.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>планшетов <br>
                                                                        и смартфонов</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-12 quiz-answer__container">
                                                            <div data-answer-1='9' class="quiz-answer quiz-main__answer">
                                                                <div class="quiz-answer__img">
                                                                    <img class="" src="img/quiz-item-9.png" alt="">
                                                                </div>
                                                                <div class="quiz-answer__text">
                                                                    Ремонт <br>
                                                                    <b>винтажной</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-2">
                                        <div class="quiz-main__title">Какая у вас <span>степень</span> поломки?</div>
                                        <div class="quiz-main__answers">
                                            <div class="row">
                                                <div class="col-xl-4 quiz-answer-2__container">
                                                    <div data-answer-2='1' class="quiz-answer-2 active">
                                                        <div class="quiz-answer-2__text">
                                                            Работает <br>
                                                            с перебоями
                                                        </div>
                                                        <div class="quiz-answer-2__img">
                                                            <img src="img/quiz-answer-2-img-1.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 quiz-answer-2__container">
                                                    <div data-answer-2='2' class="quiz-answer-2">
                                                        <div class="quiz-answer-2__text">
                                                            Реставрация <br>
                                                            изделия
                                                        </div>
                                                        <div class="quiz-answer-2__img">
                                                            <img src="img/quiz-answer-2-img-2.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 quiz-answer-2__container">
                                                    <div data-answer-2='3' class="quiz-answer-2">
                                                        <div class="quiz-answer-2__text">
                                                            Не работает <br>
                                                            вообще
                                                        </div>
                                                        <div class="quiz-answer-2__img">
                                                            <img src="img/quiz-answer-2-img-3.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="quiz-answer-2__btn">
                                                <button class="btn-default" id="quiz-answers-2__btn">
                                                    <span class="btn-default__text">ДАЛЕЕ</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-3">
                                        <div class="quiz-main__title">Как вам будет <span>удобнее?</span></div>
                                        <div class="quiz-main__answers">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-5 col-md-8 d-flex justify-content-center align-items-center">
                                                    <div class="quiz-answer-3__container">
                                                        <div data-answer-3='1' class="quiz-answer-3 active">
                                                            <div class="quiz-answer-3__img">
                                                                <img src="img/quiz-answer-3__img-1.png" alt="">
                                                            </div>
                                                            <div class="quiz-answer-3__content">
                                                                <div class="quiz-answer-3__title">офис</div>
                                                                <div class="quiz-answer-3__description">
                                                                    Ждем вас в гости!
                                                                    Вы привозите предмет вышедший из
                                                                    строя прямо нам в офис :)
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-answer-3='2' class="quiz-answer-3">
                                                            <div class="quiz-answer-3__img">
                                                                <img src="img/quiz-answer-3__img-2.png" alt="">
                                                            </div>
                                                            <div class="quiz-answer-3__content">
                                                                <div class="quiz-answer-3__title">выезд</div>
                                                                <div class="quiz-answer-3__description">
                                                                    Наши специалисты
                                                                    прибудут по вашему адресу, и проведут
                                                                    диагностику на месте!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="quiz-answer-2__btn">
                                                            <button class="btn-default" id="quiz-answers-3__btn">
                                                                <span class="btn-default__text">ДАЛЕЕ</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-4">
                                        <div class="check">
                                            <div class="row">
                                                <div class="col-xl-11 d-flex justify-content-center">
                                                    <div class="row">
                                                        <div class="col-xl-6 d-flex">
                                                            <div class="check__content">
                                                                <div class="check__title">
                                                                    Расчёт будет готов <br>
                                                                    через  <span>5 минут</span>
                                                                </div>
                                                                <div class="check__description">
                                                                    Оставьте свои данные
                                                                    для связи, либо
                                                                    позвоните мастеру
                                                                    и более подробно
                                                                    опишите проблему
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <div class="support-form">
                                                                <div class="support-form__title">Мы свяжемся с вами :)</div>
                                                                <form action="" class="text-center">
                                                                    <div class="form-group">
                                                                        <input name="name" class="form-support__control name" type="text" placeholder="Ваше имя">
                                                                    </div>
                                                                    <div class="form-group mb-5">
                                                                        <input name="phone" class="form-support__control phone" type="tel" placeholder="Номер телефона">
                                                                    </div>
                                                                    <div class="form-group mb-3 support-form__btn">
                                                                        <button class="btn-default_prgm" type="button" onclick="send(event)">
                                                                            <span class="btn-default__text" style="font-style: normal">Перезвоните мне</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="support-form__agree">
                                                                            Заполняя данную форму вы подтверждаете согласие <br>
                                                                            с нашей политикой обработки персональных данных
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>