<section class="reviews">
	<div class="reviews__container">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 offset-xl-1">
					<div class="reviews__title">
						Посмотрите, что пишут <br class="d-xl-block d-none" />
						о нас <span class="color-red">клиенты</span>, <br class="d-xl-block d-none" />
						которым мы уже <br class="d-xl-block d-none" />
						выполнили <span class="color-red">ремонт</span>
					</div>
					<div class="reviews__items position-relative">
						<div class="review-item__container owl-carousel owl-theme">
							<div class="review-item">
								<div class="review-item__header">
									<div class="review-item__author">Иван</div>
									<div class="review-item__stars">
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
									</div>
								</div>
								<div class="review-item__content">
									Ремонт домашней техники и электроники. Единственный официальный сервис центр компании Huawei в регионе. Быстро и качественно ремонтируют сотовые телефоны.
								</div>
							</div>
							<div class="review-item">
								<div class="review-item__header">
									<div class="review-item__author">Азат</div>
									<div class="review-item__stars">
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
									</div>
								</div>
								<div class="review-item__content">
									Не знаю, отзывы не смотрел до этого, но этот сервис удивил, сколько я не быдался с сервисами по ремонту компьютера, но такого не ожидал. Сделали быстро и винду бесплатно переустановили. Сдаю уже 4 ноут офисный, вопросов нет, красавчик мастер. Спасибо.
								</div>
							</div>
							<div class="review-item">
								<div class="review-item__header">
									<div class="review-item__author">Диана</div>
									<div class="review-item__stars">
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
									</div>
								</div>
								<div class="review-item__content">
									Заказывала адаптер для монитора, сделала заказ в субботу, а в понедельник уже позвали забирать, очень оперативно. Адаптер работает, всё хорошо. Есть с чем сравнить, так как в другой фирме ждала 1,5 месяца и в итоге привезли абсолютно не тот товар, здесь же всё прошло без ошибок и быстро, а так же цена порадовала, существенно дешевле, чем в другом месте, спасибо !
								</div>
							</div>
							<div class="review-item">
								<div class="review-item__header">
									<div class="review-item__author">Сабина</div>
									<div class="review-item__stars">
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
										<img class="review-star" src="img/reviews/reviews__rating-star.png" alt="" />
									</div>
								</div>
								<div class="review-item__content">
									Пишу что бы люди находили правильные сервисы по ремонту. Уже долгие годы зарекомендовал себя как качественный сервисный центр. Сдавала телевизор в ремонт 2004 года. Сделали быстро и дешево. Спасибо вам за вашу работу. Заплатила за ремонт 1200 руб. правда везти пришлось самой.
								</div>
							</div>
						</div>
						<div class="reviews-btn__next">
							<img src="img/reviews/reviews__btn-next.png" alt="" />
						</div>
					</div>
					<div class="reviews__btn">
						<a class="d-inline-block btn-default" href="https://yandex.ru/maps/org/proremont/187810495948/?ll=55.989665%2C54.726944&source=wizbiz_new_text_single&z=13" target="_blank">
							<span class="btn-default__text">ПОСМОТРЕТЬ <br class="d-inline-block d-xl-none"> ВСЕ ОТЗЫВЫ</span>
							<img class="d-inline-block d-xl-none" src="img/reviews/reviews__phone.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-xl-4 d-none d-xl-block">
					<div class="reviews__img">
						<img alt="" class="img-fluid" src="img/reviews/reviews__phone.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
