<section class="reviews">
    <div class="reviews__container">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 offset-xl-1">
                    <div class="reviews__title">
                        Посмотрите, что пишут <br class="d-xl-block d-none">
                        о нас <span class="color-red">клиенты</span>, <br class="d-xl-block d-none">
                        которым мы уже <br class="d-xl-block d-none">
                        выполнили <span class="color-red">ремонт</span>
                    </div>
                    <div class="reviews__items">
                        <div class="review-item__container owl-carousel">
                            <div class="review-item">
                                <div class="review-item__header">
                                    <div class="review-item__author">Иван</div>
                                    <div class="review-item__stars">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                    </div>
                                </div>
                                <div class="review-item__content">
                                    Ремонт домашней техники и электроники. Единственный официальный сервис центр
                                    компании Huawei в регионе. Быстро и качественно ремонтируют сотовые телефоны.
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-item__header">
                                    <div class="review-item__author">Иван</div>
                                    <div class="review-item__stars">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                    </div>
                                </div>
                                <div class="review-item__content">
                                    Ремонт домашней техники и электроники. Единственный официальный сервис центр
                                    компании Huawei в регионе. Быстро и качественно ремонтируют сотовые телефоны.
                                </div>
                            </div>
                            <div class="review-item">
                                <div class="review-item__header">
                                    <div class="review-item__author">Иван</div>
                                    <div class="review-item__stars">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                        <img class="review-star" src="img/review-star.png" alt="">
                                    </div>
                                </div>
                                <div class="review-item__content">
                                    Ремонт домашней техники и электроники. Единственный официальный сервис центр
                                    компании Huawei в регионе. Быстро и качественно ремонтируют сотовые телефоны.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__btn">
                        <button class="btn-default">
                            <span class="btn-default__text">ПОСМОТРЕТЬ ВСЕ ОТЗЫВЫ</span>
                        </button>
                    </div>
                </div>
                <div class="col-xl-4 d-none d-xl-block">
                    <div class="reviews__img">
                        <img alt="" class="img-fluid" src="img/reviews__img.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>