<section class="scheme">
	<div class="scheme__container">
		<div class="container">
			<div class="scheme__title">
				<span class="title__ted">СХЕМА</span>
				РАБОТЫ:
			</div>
			<div class="row position-relative">
				<div class="scheme__img-left d-none d-xl-block">
					<img src="img/scheme/scheme__man-left.png" alt="" />
				</div>
				<div class="scheme__bg"></div>
				<div class="scheme__img-right d-none d-xl-block">
					<img src="img/scheme/scheme__man-right.png" alt="" />
				</div>
				<div class="col-xl-9 col-12 pt-3 pb-3 offset-xl-1">
					<div class="row">
						<div class="col-xl-9">
							<div class="row">
								<div class="col-xl-4 col-6 scheme-item__container justify-content-end">
									<div class="scheme-item">
										<div class="scheme-item__title">1 этап</div>
										<div class="scheme-item__content">
											Получение <br />
											заявки
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-6 scheme-item__container justify-content-start">
									<div class="scheme-item">
										<div class="scheme-item__title">2 этап</div>
										<div class="scheme-item__content">
											Согласование <br />
											времени
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-6 scheme-item__container justify-content-end">
									<div class="scheme-item">
										<div class="scheme-item__title">3 этап</div>
										<div class="scheme-item__content">
											Выезд <br />
											курьера
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-6 scheme-item__container justify-content-start">
									<div class="scheme-item">
										<div class="scheme-item__title">4 этап</div>
										<div class="scheme-item__content">
											Диагностика <br />
											и оценка <br />
											проблемы
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-6 scheme-item__container justify-content-end">
									<div class="scheme-item">
										<div class="scheme-item__title">5 этап</div>
										<div class="scheme-item__content">
											Утверждение <br />
											стоимости <br />
											и ремонт
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-6 scheme-item__container justify-content-start">
									<div class="scheme-item">
										<div class="scheme-item__title">6 этап</div>
										<div class="scheme-item__content">
											Бесплатная <br />
											доставка <br />
											обратно
										</div>
									</div>
								</div>
								<div class="col-12 d-xl-none d-block text-center">
									<img class="img-fluid" style="max-width: 300px" src="img/scheme/scheme__man-tv.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
