<section class="service">
	<div class="service__container">
		<div class="container">
			<div class="service__title">Почему именно мы?</div>
			<div class="row">
				<div class="col-xl-4">
					<div class="service-item">
						<div class="service-item__img" style="height: 250px">
							<img class="img-fluid" src="img/service/service-item-1.png" alt="" />
						</div>
						<div class="service-item__text">
							исключительно <br />
							<b>Высоко-квалифицированные</b> <br />
							инженеры электронщики
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="service-item">
						<div class="service-item__img" style="height: 250px">
							<img class="img-fluid" src="img/service/service-item-2.png" alt="" />
						</div>
						<div class="service-item__text">
							<b>Современный</b> <br />
							инструментарий <br />
							в арсенале
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="service-item">
						<div class="service-item__img" style="height: 250px">
							<img class="img-fluid" src="img/service/service-item-3.png" alt="" />
						</div>
						<div class="service-item__text">
							Входим в тройку <br />
							<b>лидеров в городе</b> <br />
							в своей отрасли
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="service-item">
						<div class="service-item__img">
							<img class="img-fluid" src="img/service/service-item-4.png" alt="" />
						</div>
						<div class="service-item__text">
							Являемся авторизованным <br />
							центром более,
							<b
								>чем 115 <br />
								международных марок</b
							>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="service-item">
						<div class="service-item__img">
							<img class="img-fluid" src="img/service/service-item-5.png" alt="" />
						</div>
						<div class="service-item__text">
							Высокоточное <br />
							<b
								>диагностическое <br />
								оборудование</b
							>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="service-item">
						<div class="service-item__img">
							<img class="img-fluid" src="img/service/service-item-6.png" alt="" />
						</div>
						<div class="service-item__text">
							На ремонт техники мы <br />
							предоставляем
							<b
								>гарантийный <br />
								период от 60 дней</b
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
