<div class="support">
	<div class="support__container">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 offset-xl-1 col-12">
					<div class="support__img-left d-none d-xl-block">
						<img class="img-fluid" src="img/support__img-left.png" alt="" />
					</div>

					<div class="support__title">
						Наш менеджер предоставит <br />
						вам всю необходимую <br />
						<span class="color-green">
							информацию <br />
							в исчерпывающем виде.
						</span>
					</div>
					<div class="support__subtitle">
						Или оставьте ваши <br />
						контактные данные в форме <br />
						ниже, и мы вам перезвоним.
					</div>
				</div>
				<div class="col-xl-5 col-12 position-relative">
					<div class="support__img-right d-none d-xl-block">
						<img src="img/support__img-right.png" alt="" />
					</div>
					<div class="support-form">
						<div class="support-form__title">Мы свяжемся с вами :)</div>
						<form action="" class="text-center">
							<div class="form-group">
								<input name="name" class="form-support__control name" type="text" placeholder="Ваше имя" />
							</div>
							<div class="form-group mb-5">
								<input name="phone" class="form-support__control phone" type="tel" placeholder="Номер телефона" />
							</div>
							<div class="form-group mb-3 support-form__btn">
								<button class="btn-default_prgm" type="button" onclick="send(event)">
									<span class="btn-default__text" style="font-style: normal">Перезвоните мне</span>
								</button>
							</div>
							<div class="form-group">
								<div class="support-form__agree">
									Заполняя данную форму вы подтверждаете согласие <br />
									с нашей политикой обработки персональных данных
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
