body {
	transition: all 0.3s;
	overflow-y: auto;
	overflow-x: hidden;
}

body._fixed {
	overflow: hidden;
}

// *,
// *::after,
// *::before {                        //типа debug
// 	border: 2px solid red;
// }
